<h2>Cubismo</h2>
<h3>1907-1924</h3>
<p>
La corriente cubista rompe radicalmente con la pintura tradicional, materializada en el uso de la perspectiva.  La figuración geométrica se convierte en el medio de representación de la naturaleza y el entorno.
Los colores se vuelven tenues, desaparece la potencia del color en favor de tonalidades apagadas y frías. Fue común el uso del collage.
La obra cubista a menudo supone un reto interpretativo al perder los referentes naturalistas.
</p>

<h3>Artistas Representativos</h3>
<ul>
    <li>Pablo Picasso</li>
    <li>Piet Mondrian</li>
    <li>Sonia Delaunay</li>
    <li>Georges Braque</li>
</ul>

<h3>Galeria</h3>
<div class="galeria">
    <img src="https://academiaplay.es/wp-content/uploads/2016/10/Cubismo.jpg" width="260" height="300" alt="cubismo"/>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Fresnaye_conquest_of_air.jpg/800px-Fresnaye_conquest_of_air.jpg" width="260" height="300" alt="cubismo1"/>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Ram%C3%B3nG%C3%B3mezdelaSerna.JPG/486px-Ram%C3%B3nG%C3%B3mezdelaSerna.JPG" width="260" height="300" alt="cubismo2"/>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Juan_Gris_003.jpg/415px-Juan_Gris_003.jpg" width="260" height="300" alt="cubismo4"/>
</div>