<h2>Dadaísmo</h2>
<h3>1916</h3>
<p>El Dadaísmo surge como reacción a la supremacía de la razón. Fueron muchas las manifestaciones artísticas que se hicieron eco de este movimiento.</p>

<p>El artista dadá es revolucionario y provocador, y se burla del sistema establecido en todos los órdenes.
Es una corriente heterogénea que no posee lugares comunes, sino que debe entenderse como una nueva forma de ver el mundo del arte.</p>

<h3>Características</h3>
<p>
    El dadaísmo o arte dadá no definió un estilo unificado, ya que se basaba, precisamente, en la crítica al sentido tradicional del arte, de la escuela o del estilo. Aun así, se unía en torno a un conjunto de principios compartidos que le dieron un tono característico, tanto en lo literario como en lo plástico. Conozcamos entonces sus características principales.
</p>

<h3>Artistas Representativos</h3>
<ul>
    <li>Hugo Ball</li>
    <li>Trista Tzara</li>
    <li>Marcel Duchamp</li>
    <li>François Picabia</li>
</ul>

<h3>Galeria</h3>
<div class="galeria">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Duchamp_Fountaine.jpg" width="350" height="500" alt="dadaismo"/>
    <img src="https://cdn.culturagenial.com/es/imagenes/012hannahoch-thumb.jpg" width="350" height="500" alt="dadaismo1"/>
    <img src="https://cdn.culturagenial.com/es/imagenes/marcel-duchamp-l-h-o-o-q-mona-lisa-with-moustache-cke.jpg" width="350" height="500" alt="dadaismo2"/>
</div>
