<h2>Futurismo</h2>
<h3>1909</h3>
<p>El futurismo surgió en Milán, Italia, impulsado por Marinetti. Este movimiento buscaba romper con la tradición, el pasado y los signos convencionales que la historia del arte consideraba como elementos principales a la poesía, el valor, la audacia y la revolución, ya que se pregonaba el movimiento agresivo, el insomnio febril, el paso gimnástico, el salto peligroso y la bofetada irreverente. Tenía como postulados: la exaltación de lo sensual, lo nacional y guerrero, la adoración de la máquina, el retrato de la realidad en movimiento, lo objetivo de lo literario y la disposición especial de lo escrito, con el fin de darle una expresión plástica.</p>
<p>Rechazaba la estética tradicional e intentó ensalzar la vida contemporánea, basándose en sus dos temas dominantes: la máquina y el movimiento. </p>

<h3>Artistas Representativos</h3>
<ul>
    <li>Umberto Boccioni</li>
    <li>Carlo Cará</li>
    <li>Luigi Russolo</li>
    <li>Giacomo Balla</li>
</ul>

<h3>Galeria</h3>
<div class="galeria">
    <img src="https://academiaplay.es/wp-content/uploads/2016/10/Futurismo1.jpg" width="260" height="300" alt="futurismo"/>
    <img src="https://imagenes.elpais.com/resizer/OHlgj2N4FmLv9yOL9vYOR-8ZFCY=/1960x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/IIPU3E5N7N23BT3IT727CPEFAE.jpg" width="400" height="300" alt="futurismo1"/>
    <img src="https://imagenes.elpais.com/resizer/zpVxgYZZcBk6MuOp43Jtw2Yn3pU=/1960x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/FD2TEIGTOZKKWIJEGEE6QQ3QJE.jpg" width="400" height="300" alt="futurismo2"/>
</div>

