<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cubismo">Cubismo</a></li>
        <li><a href="/futurismo">Futurismo</a></li>
        <li><a href="/dadaismo">Dadaísmo</a></li>
        <li><a href="/popart">Pop Art</a></li>
        <li><a href="/galeria">Galeria</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>
