<h2>Pop Art</h2>
<h3>1950</h3>
<p>El Pop Art revoluciona el panorama artístico gracias a la asimilación e incorporación de elementos propios de la cultura popular. Inspirado en la estética de la vida cotidiana y los bienes de consumo de la época, tales como anuncios publicitarios, comic books, objetos culturales mundanos y del mundo del cine.

El Pop Art se impone ante el concepto de arte elitista, favoreciendo el acercamiento de la cultura a la masa, que puede ser captadora o creadora de contenido artístico.</p>

<h3>Artistas Representativos</h3>
<ul>
    <li>Andy Warhol</li>
    <li>Roy Fox Lichtenstein</li>
    <li>Richard Hamilton</li>
    <li>David Hockney</li>
</ul>

<h3>Galeria</h3>
<div class="galeria">
    <img src="https://academiaplay.es/wp-content/uploads/2016/10/Pop-Art.jpg" width="350" height="400" alt="popart"/>
    <img src="https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/560a4e583dafe84fac914f24/beso-roy_0.jpg" width="350" height="400" alt="popart1"/>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/TAG_Andy_Warhol_Soup_Can_01.jpg/220px-TAG_Andy_Warhol_Soup_Can_01.jpg" width="350" height="400" alt="popart2"/>
</div>
