<div class="container col-md-3">
<main class="form-signin" title="Inicio">
  <a href="/"><img src="images/Logo/logo_large.png" class="mb-4 mt-5 rounded mx-auto d-block" width="150px" height="120px" title="Inicio"></a>
    <h1 class="h3 mb-3 fw-normal text-center">Acceder</h1>
  <form action="/admin/login" method="post">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="usuario">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Iniciar Sesión</button>
  </form>
  {{#if error}}
        <p>Usuario o contraseña incorrecto</p>
  {{/if}}
</main>
</div>

<div class="container">
  <img src="/public/images/Logo/logo_large.png">
</div>